<header id="home-header">
    <nav role="navigation">
        <ul>
            <li><a href="#/home">Home</a></li>
            <li><a href="#/posts/all">Blog</a></li>
            <li><a href="#/categories/sport/1">Sport</a></li>
            <li><a href="#/categories/food/1">Food</a></li>
            <li><a href="#/categories/health/1">Health</a></li>
        </ul>
        <div id="header-shadow-layer1"></div>
        <div id="header-shadow-layer2"></div>
    </nav>
</header>
<section id="slider">
    <div class="slides-wrap">
        <ul>
            {{#posts}}
            <li class="slide">
                <img src="{{imageUrl}}" alt="{{title}}" width="960" height="332" class="slide-img">
                <div class="slide-description">
                    <h2 class="slide-title">{{title}}</h2>
                    <p class="slide-content">{{content}}</p>
                    <a href="#/posts/{{$key}}" class="button">Read More</a>
                </div>
                <div class="slide-top-shadow"></div>
                <div class="slide-bottom-shadow"></div>
            </li>
            {{/posts}}
        </ul>
        <ul class="slider-nav">
            <li><a href="#" class="slider-prev">Prev</a></li>
            <li><a href="#" class="slider-next">Next</a></li>
        </ul>
    </div>
    <ol class="slider-controller">
        <li><a href="#" class="active">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
    </ol>
</section>
<section id="main-content" class="group">
    <header class="content-header home-content-header">
        <h1>"Healthy World is a site where you can find useful materials about healthy lifestyle"</h1>
        <p class="content-description">Aliquam venenatis enim in mi iaculis in tempor lectus tempor et convallis erat pellentesque</p>
    </header>
    <div class="previews group">
        {{#posts}}
        <article class="preview">
            <h2 class="preview-title">{{title}}</h2>
            <div class="img-container preview-img-container">
                <a href="#/posts/{{$key}}">
                    <img src="{{imageUrl}}" alt="{{title}}" class="post-img preview-img" width="800px" height="800px">
                    <span class="preview-hover-icon"></span>
                </a>
            </div>
            <p class="preview-content">{{content}}</p>
        </article>
        {{/posts}}
    </div>
    <div class="home-related">
        <aside class="home-aside home-aside-list">
            <h4 class="related-links-title">From The Blog</h4>
            <ul class="recent-posts related-links"></ul>
        </aside>
        <aside class="home-aside">
            <h4 class="related-links-title">Multi-Media Bar</h4>
            <div id="multi-media-bar" class="group">
                {{#media}}
                <div class="img-container media-img-container">
                    <img src="{{url}}" alt="{{desc}}" class="post-img media-img">
                    <span class="media-hover-icon"></span>
                    <div class="media-description">
                        <p>{{desc}}</p>
                        <span class="media-arrow"></span>
                    </div>
                </div>
                {{/media}}
                <ul class="media-nav">
                    <li><a href="#" class="media-prev">Prev</a></li>
                    <li><a href="#" class="media-next">Next</a></li>
                </ul>
            </div>
        </aside>
    </div>
</section>